/*
	COLORES

	VERDE
	rgb(57,213,44)
		
	AZUL
	rgb(37,54,69)

*/

@font-face{
	font-family: 'Ubuntu Regular';
	src: url("../fonts/gotham_book_font.otf");
}

*{
	font-family: "Ubuntu Regular";
}

.loader{
	position: absolute;
	width: 100%;
	height: 100%;
}

.logo{
	width: 100%;
}

.splash{
	background-image: url(../img/logo_100.gif);
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 9999;
	top: 0px;
}

.splash img{
	width: 60%;
	position: absolute;
	top: 40%;
	left: 20%;
}

/*.mid-transp{
	background-color: rgba( 255, 255, 255, .5 );
}*/

.ui-popup-screen.in {
	background-color: black;
}

.ui-popup {
	background-color: white;
}

.ui-popup .ui-content {
	background-color: white;
}

.ui-popup .ui-btn{
	color: white;
	border: none;
	width: 250px;
}

.ui-popup h3{
	color: white;
}

.ui-popup.ui-body-inherit {
	text-align: center;
}



.ui-header{
	background-color: rgb(37,54,69);
	border-bottom: 5px solid rgb(57,213,44);
	padding: 10px 0px;
	top: 0px;
}

.ui-header-fixed.ui-fixed-hidden {
	padding-top: 10px;
}

.ui-header-fixed .ui-btn-left, 
.ui-header-fixed .ui-btn-right, 
.ui-header-fixed.ui-fixed-hidden .ui-btn-left, 
.ui-header-fixed.ui-fixed-hidden .ui-btn-right {
    margin-top: 1px;
}

body{
	background-color: rgb(37,54,69);
}

.fondo-normal{
	background-color: rgb(230,230,230);
}

.dashboard p{
	color: rgb(37,54,69);
	font-weight: bold;
}

.text-center{
	text-align: center;
}

.img-responsive{
	width: 100%;
}

.logo-bienvenido{
	width: 60%;
	margin: 20px;
}

.ui-state-default{
	border-radius: 5px 5px 0px 0px;
	background-color: white;
}

.ui-state-active{
	background-color: rgb(57,213,44);
}

.ui-state-default > .ui-tabs-anchor{
	color: rgb(57,213,44);	
}

.ui-state-active > .ui-tabs-anchor{
	color: white;
}

.ui-tabs-anchor{
	border: none;
	font-size: 11.5px !important;
	font-weight: lighter;
}

.ui-block-a{
	border-right: 2px solid rgb(37,54,69);
}

.ui-block-b{
	border-left: 2px solid rgb(37,54,69);
}

.ui-tabs-panel{
	background-color: rgb(57,213,44);
	border-radius: 0px 0px 20px 20px;
}

.ui-input-text{
	border-color: #aaa;
}

.ui-input-text{
	background-color: white;
	border-color: #aaa;
}

.ui-input-text input::placeholder, 
.ui-input-search input::placeholder, 
textarea.ui-input-text::placeholder {
	color: #333;
	font-weight: bold;
}

.boton-log{
	background-color: white;
	color: rgb(57,213,44);
	border-radius: 5px;

/*recomendacion para el boton de log in*/
	/*width: 35%;			
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;*/
}

.ui-tabs{
	margin: 10px;
}

.ui-tabs-panel .ui-content{
	padding: 1em;
}

.sobrepiso-20{
	position: absolute;
	bottom: 20px;
}

/*----------------- DASHBOARD -------------------*/

.ui-header .ui-btn-right, .ui-header .ui-btn-left{
	color: white;
	border: none;
	font-size: 30px;
	padding: 20px 10px;
	box-shadow: none;
}

.dashboard .ui-content{
	padding: 1em 2em;
}

.cartera, .boton-inferior{
	position: relative;
}

.cartera{
	background-color: white;
	border-radius: 20px;
	padding: 20px;
}

.punteado{
	padding: 10px;
	border: 5px dashed rgb(57,213,44);
	height: 95%;
	border-radius: 20px;
	border-right-color: transparent;
}

.punteado img{
	padding: 10px 0px;	
}

.disponibles{
	position: relative;
	text-align: center;
	top: -55px;
	height: 0px;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.row{
	box-sizing:border-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex:0 1 auto;
	-ms-flex:0 1 auto;
	flex:0 1 auto;
	-webkit-flex-direction:row;
	-ms-flex-direction:row;
	flex-direction:row;
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	margin-right:-.5rem;
	margin-left:-.5rem
}

.xs-6{
	-webkit-flex-basis:50%;
	-ms-flex-preferred-size:50%;
	flex-basis:50%;
	max-width:50%
}

.xs-6 li{
	padding-top: 5px;
	padding-bottom: 5px;
}

.boton-dashboard{
	background-color: rgb(37,54,69);
	color: white;
	border-radius: 10px;
}

.boton-dashboard span{
	background-size: contain;
	padding: 5px 30px;
	background-repeat: no-repeat;	
	font-weight: bold;
	margin-left: 30px;
}

.boton-dentro-cart{
	font-size: 12px;
	background-color: rgb(37,54,69);
	color: white;
	border-radius: 20px;
	margin-top: 45%;
	left: 35%;
	padding-bottom: 20PX;
	padding-top: 20PX;
}

.abajo-izq{
	text-align: right;
}

.id-cart, .num-cart{
	font-size: 25px;
}

.id-cart{
	color: rgb(37,54,69);
}

.num-cart{
	font-weight: bold;
	color: rgb(57,213,44);
}

.id-usuario{
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin-bottom: 25px;
	margin-right: 10px;
}

.negrita{
	font-weight: bold;
}

.ui-navbar li .ui-btn.negrita{
	font-weight: bold;
}

.carta{
	margin: 20px 10%;
}

/*----------------- BLOG -------------------*/

.blog-item{
	background-color: rgb(247,247,247);
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.contenido{
	padding: 0 20px;
}

.text-justify{
	text-align: justify;
}

.text-right{
	text-align: right;
}

.boton-verde{
	background-color: rgb(53,211,47);
	border: none;
	color: white;
	font-weight: normal;
	border-radius: .3125em;	
}

.contenido p, .contenido .ui-btn{
	font-size: .8em;
}

.tit-fond-azul{
	background-color: rgb(37,54,69);
	color: white;
	padding: 10px;
	text-align: center;
}

.input-agrupado{
	position: relative;
	display: table;
	border-collapse: separate;
	margin: 5% 7%;
}

.input-agrupado .ui-input-text{
	position: relative;
	float: left;
	width: 95%;
	margin-bottom: 0;
	margin-top: 0;
	border: none;
}

.input-agrupado span{
	background-color: rgb(57,213,44);
	color: white;
	padding: 6px;
	display: table-cell;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: .3125em;
	font-size: 1.5em;
	cursor: pointer;
}

.elemento-lista{
	border-top: 1px solid;
}

.elemento-lista:last-child{
	border-bottom: 1px solid;	
}

.elemento-lista > div{
	padding: 2% 5%;
}

.elemento-lista p{
	font-size: .8em;
}

.titulo-promo{
	margin: 5px;
	font-weight: bold;
}

.sin-margen{
	margin: 0;
}

.patrocinador{
	font-weight: bold;
	color: rgb(57,213,44);
	margin: 0;
}

.foto-promo{
	position: relative;
	width: 100%;
	padding-top: 100%;
	background-position: center;
	background-size: cover;
	border-radius: 15px;
}

.ubic-precio{
	display: block;
}

.ubic-precio p{
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 20px; 
	margin: 0;
}

.ubic-precio > p:first-child{
	background-image: url(../img/locator.png);
	float: left;
}

.ubic-precio > p:last-child{
	background-image: url(../img/moneda.png);
	float: right;
	font-weight: bolder;
}

/*----------------- COMERCIOS -------------------*/

.cont-comercios{
	background-color: white;
	border-top: 1px solid gray;
	padding: 20px;
}

.caja-cuadrada{
	position: relative;
	width: 100%;
	padding-top: 100%;
	background-position: center;
	background-size: cover;
	border: 1px solid #ddd;
}
.cont-comercios .box{
	margin-bottom: 15px;
}

/*----------------- PROMOCIONES -------------------*/

.caja-promo-a{
	margin: 20px 0px 5px 20px;
}

.caja-promo-b{
	padding: 20px;
}

.caja-promo-b h3{
	margin: 0;
}

.caja-promo-a span, .caja-promo-b span{
	padding: 10px 100% 10px 40px;
	background-color: rgb(37,54,69);
	background-repeat: no-repeat;
	color: white;
	font-size: .65em;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	word-break: keep-all;
	display: inline-block;
	background-size: contain;
}

.cont-promo{
	padding: 0px 30px;
}

.cont-promo img{
	padding-top: 20px;
}

[cont-com]{
	padding-top: 30px;
	padding-left: 20px;
}

[desc-promo], [term-promo]{
	font-size: .8em;
}

.text-green{
	color: rgb(57,213,44);
	font-weight: bold;
}

.btn-compra-promo{
	border: none;
	color: white;
}

.btn-compra-promo > div{
	padding: 10px;
	display: inline;
}

.btn-compra-promo > div:first-child{
	background-color: rgb(57,213,44);
	border-top-left-radius: .3125em;
	border-bottom-left-radius: .3125em;
	
}

.btn-compra-promo > div:last-child{
	background-color: rgb(37,54,69);
	border-top-right-radius: .3125em;
	border-bottom-right-radius: .3125em;
	margin-left: -5px;
}

.btn-compra-promo span{
	background-image: url(../img/moneda.png);
	background-size: contain;
	background-repeat: no-repeat;
	padding: 3px 0px 3px 40px;
}

.soc{
	margin-left: 35px;
}

.rank{
	margin-left: 20px;
	margin-right: -20px;
}

.rank img{
	width: 20px;
}

/*----------------- COMERCIOS -------------------*/

.caja-bl-bor-gri{
	background-color: white;
	padding-bottom: 20px;
	border-bottom: 2px solid gray;
}
